# Verzeichnis für VSCode-Einstellungen
.vscode/

# Ignoriere alle lokalen Einstellungen
**/local.settings.json

# Temporäre Dateien und Ordner
*.log
tmp/
temp/

# Node.js Abhängigkeiten
node_modules/

# Build-Ausgaben
dist/
out/
build/
*.d.ts
*.js.map
*.d.ts.map

# Verzeichnisse, die von Bundlern wie Webpack oder Parcel erstellt werden
.bundle/
.bundled_output/

# Abhängigkeitsverzeichnisse
bower_components/

# Typische Konfigurationsdateien, die sensible Informationen enthalten können
.env
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local

# macOS spezifische Dateien
.DS_Store

# Windows Thumbnail Cache
Thumbs.db

# Python byte code
*.py[cod]
__pycache__/

# Java class files
*.class

# Logfiles
*.log

# Archiv- und Packdateien
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Virtuelle Maschinen und Instrumente
*.vdi
*.vmdk
*.vmx
*.iso

# Sicherheits- und Backup-Dateien
*.bak
*.swp
*.tmp

# Weitere spezifische Dateitypen
*.sublime-workspace
*.idea/
*.iml
*.ipr
*.iws
